twitchNotificationsChannel= # Channel to send twitch notifications in (OPTIONAL)
twitchNotificationsUsername= # Twitch channel to check is live (OPTIONAL)
twitchApiSecret= # (OPTIONAL)
twitchApiClientId= # (OPTIONAL)
pexelsApiKey= # Pexels API key for stock image/video search (OPTIONAL)
token= # Discord bot token (REQUIRED)
MONGO_URL= # Mongodb url (REQUIRED)
DmChannel= # Channel to send dms from the bot (OPTIONAL)
DBNAME= # MongoDB database name (REQUIRED)
GuildLogChannel= # Channel to send updates when the bot joins/leaves a guild (OPTIONAL)
OWNERID= # Bot owner ID, used for owner commands (OPTIONAL)
OWNERNAME= # Bot owner name (OPTIONAL)
DEFAULTPREFIX=? # Default prefix for the bot
changelogLink=https://raw.githubusercontent.com/jamesatjaminit/Jam-Bot/main/changelog.json # Changelog link for the bot (OPTIONAL)
repoLink=https://github.com/jamesatjaminit/Jam-Bot # Main repo link, used for commits and issues (OPTIONAL)
SHOW_DEBUG=FALSE # Show debug messages, don't use in production (OPTIONAL)
HATEBIN_HOST= # A hastebin host, used to upload large pieces of text, can be left blank to use default hastebin (OPTIONAL)